<app-loading *ngIf="loading"></app-loading>
<!--en este caso si loading es true q esta en el ts, me va mostrar el spining-->

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>
<!--como en el home y en el search vamos a utilizar casi el mismo codigo html vamos a cogerlo de tarjetas component, 
en este caso aya hay un @input llamado items en el ts, en el html lo convertimos en item con ngfor y aca como vemos va ser igual a nuevasCanciones osea el arreglo de las canciones,
por tal motivo ya podemos itneractuar con ese arreglo, osea desde aca home le estamos asignando el valor de item de tarjetas-->