<div class="card-columns m-5 animated fadeIn">
  <div (click)="verArtista(item)" *ngFor="let item of items" class="card puntero">
    <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">
        <span *ngFor="let artista of item.artists" class="badge badge-pill badge-primary">{{artista.name}}</span>
        <!--arreglo que me va mostrar si hay mas de 1 artista-->
        <!--ponemos otro ngFor pq necesitamos poner otro arreglo con los artistas q hacen la cancion, si fuera solo uno no habria necesidad-->
      </p>
    </div>
  </div>
</div>

<!--items viene del ts y es un @Input q podra ser modificado, por eso vemos que tanto en el home y en el search se utiliza items como propiedad,
segun en el compoennte q estemos actuara segun lo q este en el ts de ese componente por ej [items]="nuevasCanciones" q esta en el home actuara
con la variable nuevasCanciones q esta en el ts del home..  En el caso del search como no existe item.artists no mostrara los caontantes en azul
eso le pertenece al componente del home -->